body {
    margin: 0;
}

#instructions {
    display: none;
    position: fixed;
    top: 20px;
    left: 0;
    width : 450px;
    padding: 10px;
    text-align: left;
    font-size: 1.5em;
    background: black;
    color: white;
}

#instructions img.key {
    width: 60px;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

#instructions p {
    float: right;
    width: 370px;
}

#instructions small {
    font-size: 0.8em;
    opacity: 0.7;
}

#instructions p.head {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0 0 5px 0;
}

#instructions li {
    list-style: none;
    padding: 0;
    padding-left: 5px;
    clear: both;
    margin-bottom: 1px;
    overflow: auto;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    text-align: left;
    font-size: 2em;
}

#info iframe {
    overflow: hidden;
    border: none;
}

.greetings,
.questionnaire {
    padding: 0 50px 10px 50px;
    font-size: 0.95em;
}

#info button {
    width: 200px;
    height: 60px;
    background-color: green;
    color: white;
    font-size: 1.1em;
}

#heart {
    background-color: red !important;
    margin-left: 500px;
}

.questionnaire {
    padding-bottom: 10px;
}

.questions {
}

.question {
    margin-bottom: 30px;
}

.question p {
    font-weight: bold;
    line-height: 30px;
    margin: 0 0 5px 0;
}

.question p.error {
    color: red;
}

.question label {
    margin-right: 20px;
}

.question input[type="radio"]:checked + label{
    font-weight: bold;
    text-decoration: underline;
    color: magenta;
}

.question input[type="text"] {
    width: 600px;
    height: 30px;
    font-size: 0.8em;
}

.rest-container {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    width: 100%;
    text-align: center;
}

.rest-container p,
.rest-container h1 {
    margin: 0;
}
